In [1]:
import pandas as pd

students_performance = pd.read_csv('data/students_performance.csv', sep=',')
display(students_performance)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [2]:
# получить более детальную информацию о столбцах таблицы, 
# можно использовать метод DataFrame info()
display(students_performance.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

None

In [35]:
display(students_performance.describe())

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [6]:
# task 9.1 
# Данные о скольких студентах содержатся в таблице?
students_performance.shape[0]

1000

In [5]:
# task 9.2 
# Каков балл по письму у студента под индексом 155?
print(students_performance.iloc[[155, 355]])
# students_performance.loc[155, 'writing score']

     gender race/ethnicity parental level of education     lunch  \
155  female        group C                some college  standard
355  female        group B           bachelor's degree  standard

    test preparation course  math score  reading score  writing score
155               completed          70             89             88
355                    none          61             72             70

In [ ]:
# task 9.3 Сколько суммарно пропущенных значений в таблице?
# Task 9.4 Сколько столбцов в таблице имеет тип данных object?
# task 9.5 Какой объём памяти (в килобайтах) занимает таблица?

# display(students_performance.info())

In [9]:
# task 9.6 Каков у студентов средний балл по математике?
# students_performance['math score'].value_counts()
print('mean of Math =', students_performance['math score'].mean())
# int(students_performance['math score'].mean())

mean of Math = 66.089

In [11]:
# task 9.7 Какая расовая группа является самой крупной в учебном заведении?
print('Какая расовая группа =', students_performance['race/ethnicity'].mode())

Какая расовая группа = 0    group C
Name: race/ethnicity, dtype: object

In [21]:
# task 9.8 
# Каков средний балл по чтению у студентов, 
# которые посещали курсы подготовки к экзаменам?
mask_preparation = (students_performance['test preparation course'] == 'completed')
mask_read_score = students_performance['reading score'].mean()
print('Баллы у студентов =', mask_read_score)
students_performance[(mask_preparation)].shape[0]
print('кол студентов с подготовкой =', students_performance[(mask_preparation)].shape[0])
# display(students_performance[(mask_preparation)]['reading score'])
print('Баллы у студентов с подготовкой =', students_performance[(mask_preparation)]['reading score'].mean())
print('Баллы студентов подготовкой =', round(students_performance[(mask_preparation)]['reading score'].mean()))


# round(students_performance[students_performance['test preparation course'] == 'completed']['reading score'].mean())

Баллы у студентов = 69.169
кол студентов с подготовкой = 358
Баллы у студентов с подготовкой = 73.89385474860335
Баллы студентов подготовкой = 74

In [23]:
# task 9.9 Сколько студентов получили 0 баллов по математике?
students_performance[students_performance['math score'] == 0].shape[0]

1

In [25]:
# task 9.10 Проверьте гипотезу: 
# у студентов с оплачиваемым питанием средний балл по математике выше, 
# чем у студентов с льготным питанием.
# В качестве ответа напишите наибольший средний балл по математике 
# среди этих групп студентов.
mask_lunch_standard = (students_performance['lunch'] == 'standard')
mask_lunch_free = (students_performance['lunch'] == 'free/reduced')
mask_read_score = students_performance['reading score'].mean()
print('Баллы ALL студентов =', mask_read_score)
# students_performance[(mask_preparation)].shape[0]
# print('кол студентов с подготовкой =', students_performance[(mask_preparation)].shape[0])
# display(students_performance[(mask_preparation)]['reading score'])
print('Math score with standart lunch =', students_performance[(mask_lunch_standard)]['math score'].mean())
print('Math score with free lunch =', round(students_performance[(mask_lunch_free)]['math score'].mean()))

# students_performance[students_performance['lunch'] == 'standard']['math score'].mean()
# students_performance[students_performance['lunch'] == 'free/reduced']['math score'].mean()

Баллы ALL студентов = 69.169
Math score with standart lunch = 70.03410852713178
Math score with free lunch = 59

In [29]:
# task 9.11 
# Каков процент студентов, 
# родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
# students_performance["parental level of education"].value_counts()
students_performance["parental level of education"].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [34]:
# task 9.12 
# Насколько медианный балл по письму у студентов в расовой группе А
# отличается от среднего балла по письму у студентов в расовой группе C?

a = students_performance[students_performance['race/ethnicity'] == 'group A']['writing score'].median()
c = students_performance[students_performance['race/ethnicity'] == 'group C']['writing score'].mean()
print('writing score of group A =', a)
print('writing score of group C =', c)

print(round(abs(a - c)))

writing score of group A = 62.0
writing score of group C = 67.82758620689656
6